.showcase .gallery {
  display: flex;
  list-style-type: none;
}
.showcase .gallery li {
  margin: 10px;
}

.showcase .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 9999999;
}
.showcase .modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 85%;
  max-height: 85%;
  margin: 0 auto;
  padding: 30px;
  overflow-y: auto
}
.showcase .modal .list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
